.block {
  min-height: 100%;
}

.avatar {
  margin: 0 auto;
}

.title {
  margin-top: 20px;
}

.skeleton {
  margin-top: 15px;
}

.article_info {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 8px;
}

.avatar_block {
  display: flex;
  width: 100%;
  justify-content: center;
}

.article_block {
  margin-top: 16px;
}
