.light {
  --bg-color: #bbb9b9;
  --inverted-bg-color: #00007c;
  --primary-color: #0000af;
  --inverted-primary-color: #48c749;
  --secondary-color: #1f4488;
  --inverted-secondary-color: #209a20;
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);
}

.dark {
  --bg-color: #00007c;
  --inverted-bg-color: #bbb9b9;
  --primary-color: #48c749;
  --inverted-primary-color: #0000af;
  --secondary-color: #209a20;
  --inverted-secondary-color: #1f4488;

  --skeleton-color: #1515ad;
  --skeleton-shadow: #2b2be8;
}

.purple {
  --bg-color: #907e94;
  --inverted-bg-color: #faf4fb;
  --primary-color: #faf4fb;
  --inverted-primary-color: #907e94;
  --secondary-color: #706b80;
  --inverted-secondary-color: #faf4fb;
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);
}

:root {
  --font-family-main: consolas, 'Times New Roman', serif;
  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
  --font-size-xl: 32px;
  --font-line-xl: 40px;
  --font-xl: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
  --navbar-height: 50px;
  --sidebar-width: 300px;
  --sidebar-width-collapsed: 80px;
  --modal-z-index: 10;
  --overlay-color: rgba(0 0 0 / 60%);
  --modal-color: rgba(187 185 185 / 95%);
  --red-light: #ea0303;
  --red-dark: #ce0505;
}
